* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  width: 500px;
  margin: 2em auto;
  border: 3px solid blue;
  padding: 0 0 1em 2em;
}

h1 {
  color: blue;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

label { 
  width: 11em;
  float: left;
  text-align: right;
}

input {
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 12em;
}

input[type="button"] {
  padding: 1px 2px;
}